{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "app": true,
    "grpc": true,
    "toObjectId": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "always"],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "eqeqeq": [2, "allow-null"],
    "id-length": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": "warn",
    "max-len": ["error", 200, 2, {
      "ignoreUrls": true
    }],
    "no-await-in-loop": "off",
    "no-console": 0,
    "no-debugger": 1,
    "no-empty": ["error", {
      "allowEmptyCatch": true
    }],
    "no-nested-ternary": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "no-confusing-arrow": "warn",
    "no-plusplus": 0,
    "no-restricted-syntax": "off",
    "no-underscore-dangle": 0,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "prefer-template": 0,
    "radix": 0,
    "strict": ["error", "global"]
  }
}